body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../img/log.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
}

.container1 {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    /* background: #000000; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* display: flex;
    justify-content: center;
    text-align: center; */
    color: white;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.results {
    margin-top: 20px;
}

.results p {
    font-size: 18px;
    margin: 5px 0;
}.navbar {
    /* background-color: #000000; */
    padding: 1rem 0;
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 2rem;
}

.navbar .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

footer .container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    color: #ffffff;
}
